<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Page4 - exported project</title>
    <meta property="og:title" content="Page4 - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./page4.css" rel="stylesheet" />

      <div class="page4-container">
        <div class="page4-frame">
          <div>
            <div class="page4-group10">
              <div>
                <img
                  alt="Search22"
                  src="public/external/search22-saou-200h.png"
                  class="page4-search"
                />
                <span class="page4-text"><span>Поиск животного</span></span>
                <img
                  alt="pixelarticonssearch336"
                  src="public/external/pixelarticonssearch336-how3.svg"
                  class="page4-pixelarticonssearch"
                />
              </div>
              <div>
                <img
                  alt="Rectangle324"
                  src="public/external/rectangle324-qqfs-200h.png"
                  class="page4-rectangle3"
                />
                <span class="page4-text02"><span>Регистрация</span></span>
                <img
                  alt="pixelarticonscontactplus338"
                  src="public/external/pixelarticonscontactplus338-21f.svg"
                  class="page4-pixelarticonscontactplus"
                />
              </div>
              <a href="page3.html" class="page4-navlink">
                <div class="page4-group2">
                  <div class="page4-frame10">
                    <img
                      alt="Rectangle41635"
                      src="public/external/rectangle41635-3c7-200h.png"
                      class="page4-rectangle4"
                    />
                  </div>
                  <div class="page4-frame11">
                    <span class="page4-text04"><span>Войти</span></span>
                  </div>
                  <img
                    alt="pixelarticonslogin1636"
                    src="public/external/pixelarticonslogin1636-umjq.svg"
                    class="page4-pixelarticonslogin"
                  />
                </div>
              </a>
              <a href="page.html" class="page4-navlink1">
                <div>
                  <img
                    alt="Rectangle2114"
                    src="public/external/rectangle2114-tiu-200h.png"
                    class="page4-rectangle2"
                  />
                  <span class="page4-text06">
                    <span>
                      <span>Animal_chip</span>
                      <br />
                      <span></span>
                    </span>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div>
            <img
              alt="Rectangle127170"
              src="public/external/rectangle127170-mca9-200h.png"
              class="page4-rectangle12"
            />
            <span class="page4-text11"><span>Местоположение</span></span>
          </div>
          <div>
            <img
              alt="Rectangle227207"
              src="public/external/rectangle227207-f0hu-300w.png"
              class="page4-rectangle22"
            />
            <a
              href="https://goo.gl/maps/56pjWofj1xZqRZnc7"
              target="_blank"
              rel="noreferrer noopener"
              class="page4-link"
            >
              <div class="page4-frame5">
                <img
                  alt="Rectangle242137"
                  src="public/external/rectangle242137-miec-200h.png"
                  class="page4-rectangle24"
                />
                <span class="page4-text13">
                  <span>53.268718, 50.239669</span>
                  <br class="page4-text15" />
                  <br />
                  <br />
                  <br />
                </span>
              </div>
            </a>
            <a
              href="https://goo.gl/maps/6qT3Et3fvqD7hcT56"
              target="_blank"
              rel="noreferrer noopener"
              class="page4-link1"
            >
              <div class="page4-frame1">
                <img
                  alt="Rectangle249301"
                  src="public/external/rectangle249301-ts3-200h.png"
                  class="page4-rectangle2401"
                />
                <span class="page4-text19">
                  <span>53.268247, 50.245636</span>
                  <br class="page4-text21" />
                  <br />
                  <br />
                  <br />
                </span>
              </div>
            </a>
            <div class="page4-frame9">
              <img
                alt="Rectangle249277"
                src="public/external/rectangle249277-c5x-200h.png"
                class="page4-rectangle2402"
              />
              <a
                href="https://goo.gl/maps/MWSXc5eDNjWh2VV36"
                class="page4-text25"
              >
                <span>53.270561, 50.242029</span>
                <br class="page4-text27" />
                <br />
                <br />
              </a>
            </div>
            <a href="https://goo.gl/maps/Z6C3U7wradVLGw1c7" class="page4-link2">
              <div class="page4-frame8">
                <img
                  alt="Rectangle249262"
                  src="public/external/rectangle249262-pfe-200h.png"
                  class="page4-rectangle2403"
                />
                <span class="page4-text30">
                  <span>53.270014, 50.241083</span>
                  <br class="page4-text32" />
                  <br />
                  <br />
                </span>
              </div>
            </a>
            <a
              href="https://goo.gl/maps/e7mxbaCmpeb72Jfr5"
              target="_blank"
              rel="noreferrer noopener"
              class="page4-link3"
            >
              <div>
                <img
                  alt="Rectangle249280"
                  src="public/external/rectangle249280-cikl-200h.png"
                  class="page4-rectangle2404"
                />
                <span class="page4-text35">
                  <span>53.269417, 50.239829</span>
                  <br class="page4-text37" />
                  <br />
                  <br />
                  <br />
                </span>
              </div>
            </a>
            <div class="page4-frame101">
              <img
                alt="Rectangle249245"
                src="public/external/rectangle249245-s9vx-200h.png"
                class="page4-rectangle2405"
              />
              <span class="page4-text41">
                <span>
                  <span>53.271922, 50.243668</span>
                  <br />
                  <span></span>
                </span>
              </span>
            </div>
            <a
              href="https://goo.gl/maps/HpfSjNdLbgHk6i2S9"
              target="_blank"
              rel="noreferrer noopener"
              class="page4-link4"
            >
              <div class="page4-frame6">
                <img
                  alt="Rectangle249286"
                  src="public/external/rectangle249286-9q9d-200h.png"
                  class="page4-rectangle2406"
                />
                <span class="page4-text46">
                  <span>53.268990, 50.239720</span>
                  <br class="page4-text48" />
                  <br />
                  <br />
                  <br />
                </span>
              </div>
            </a>
            <a
              href="https://goo.gl/maps/3TZpzjjF6CzbtHwa8"
              target="_blank"
              rel="noreferrer noopener"
              class="page4-link5"
            >
              <div class="page4-frame4">
                <img
                  alt="Rectangle249292"
                  src="public/external/rectangle249292-cw4z-200h.png"
                  class="page4-rectangle2407"
                />
                <span class="page4-text52">
                  <span>53.268445, 50.240397</span>
                  <br class="page4-text54" />
                  <br />
                  <br />
                  <br />
                </span>
              </div>
            </a>
            <a
              href="https://goo.gl/maps/nwYcbU4TYo6168fS8"
              target="_blank"
              rel="noreferrer noopener"
              class="page4-link6"
            >
              <div class="page4-frame3">
                <img
                  alt="Rectangle249295"
                  src="public/external/rectangle249295-lgto-200h.png"
                  class="page4-rectangle2408"
                />
                <span class="page4-text58">
                  <span>53.269227, 50.242348</span>
                  <br class="page4-text60" />
                  <br />
                  <br />
                  <br />
                </span>
              </div>
            </a>
            <a
              href="https://goo.gl/maps/fSHU875aLVscXABE7"
              target="_blank"
              rel="noreferrer noopener"
              class="page4-link7"
            >
              <div class="page4-frame2">
                <img
                  alt="Rectangle249298"
                  src="public/external/rectangle249298-pnka-200h.png"
                  class="page4-rectangle2409"
                />
                <span class="page4-text64">
                  <span>53.268986, 50.243987</span>
                  <br class="page4-text66" />
                  <br />
                  <br />
                  <br />
                </span>
              </div>
            </a>
            <div class="page4-frame7">
              <span class="page4-text70">
                <span>Последние координаты</span>
              </span>
            </div>
          </div>
          <iframe
            src='https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2319.6536872001107!2d50.24150294855455!3d53.27192198039388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTPCsDE2JzE4LjkiTiA1MMKwMTQnMzcuMiJF!5e1!3m2!1sru!2sru!4v1686158830152!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>'
            allowfullscreen=""
            class="page4-iframe"
          ></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
