<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Page3 - exported project</title>
    <meta property="og:title" content="Page3 - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./page3.css" rel="stylesheet" />

      <div class="page3-container">
        <div class="page3-frame">
          <div class="page3-frame01">
            <img
              alt="Rectangle12776"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/2617db15-d596-46a4-94ed-d505572f1092/a90f741b-80fb-4c7e-84cc-3a314c9a5447?org_if_sml=1571"
              class="page3-rectangle12"
            />
            <span class="page3-text"><span>Ваши животные</span></span>
          </div>
          <div class="page3-frame02">
            <img
              alt="Rectangle121131"
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/2617db15-d596-46a4-94ed-d505572f1092/6e33c9d2-df80-4b32-93e1-1d4ee2387ca6?org_if_sml=1571"
              class="page3-rectangle121"
            />
            <span class="page3-text02"><span>Добавить животное</span></span>
          </div>
          <div class="page3-frame03">
            <a href="4.html" class="page3-navlink">
              <div class="page3-frame04">
                <span class="page3-text04"><span>Местоположение</span></span>
              </div>
            </a>
            <div class="page3-frame05">
              <img
                alt="Rectangle207117"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/2617db15-d596-46a4-94ed-d505572f1092/d18ebdd6-48ee-4c97-af9a-b748bb88aad0?org_if_sml=1641"
                class="page3-rectangle20"
              />
              <span class="page3-text06"><span>Пол</span></span>
              <input
                type="text"
                placeholder="placeholder"
                class="page3-textinput input"
              />
            </div>
            <div class="page3-frame06">
              <img
                alt="Rectangle16786"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/2617db15-d596-46a4-94ed-d505572f1092/9f888e0a-c7de-4261-8346-f3cb446e9b69?org_if_sml=1638"
                class="page3-rectangle16"
              />
              <span class="page3-text08"><span>1111</span></span>
              <span class="page3-text10"><span>Номер чипа:</span></span>
            </div>
            <div class="page3-frame07">
              <span class="page3-text12">
                <span>
                  <span>Фото</span>
                  <br />
                  <span></span>
                </span>
              </span>
            </div>
            <div class="page3-frame08">
              <img
                alt="Rectangle19799"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/2617db15-d596-46a4-94ed-d505572f1092/bc21f27b-2b49-4da3-9cbc-23873d5dc613?org_if_sml=1649"
                class="page3-rectangle19"
              />
              <span class="page3-text17"><span>Метис</span></span>
              <span class="page3-text19"><span>Порода</span></span>
            </div>
            <div class="page3-frame09">
              <img
                alt="Rectangle207102"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/2617db15-d596-46a4-94ed-d505572f1092/f81ff48d-91ac-4e73-827d-7411252f42b4?org_if_sml=1605"
                class="page3-rectangle201"
              />
              <span class="page3-text21"><span>Окрас</span></span>
              <span class="page3-text23">
                <span>
                  <span>Серый</span>
                  <br />
                  <span></span>
                </span>
              </span>
            </div>
            <div>
              <span class="page3-text28"><span>Кличка</span></span>
              <span class="page3-text30">
                <span>
                  <span>Котэ</span>
                  <br />
                  <span></span>
                </span>
              </span>
            </div>
            <div class="page3-frame11">
              <span class="page3-text35"><span>Вид</span></span>
              <span class="page3-text37"><span>Кот</span></span>
            </div>
            <div class="page3-frame12">
              <img
                alt="Rectangle217125"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/2617db15-d596-46a4-94ed-d505572f1092/323edbd8-5af6-4c20-b17b-196dfa700ec2?org_if_sml=11296"
                class="page3-rectangle21"
              />
              <span class="page3-text39">
                <span>
                  <span>Доп информация</span>
                  <br />
                  <span></span>
                </span>
              </span>
            </div>
          </div>
          <div class="page3-group10">
            <div class="page3-frame13">
              <img
                alt="Search22"
                src="public/external/search22-saou-200h.png"
                class="page3-search"
              />
              <span class="page3-text44"><span>Поиск животного</span></span>
              <img
                alt="pixelarticonssearch336"
                src="public/external/pixelarticonssearch336-how3.svg"
                class="page3-pixelarticonssearch"
              />
            </div>
            <div class="page3-frame14">
              <img
                alt="Rectangle324"
                src="public/external/rectangle324-qqfs-200h.png"
                class="page3-rectangle3"
              />
              <span class="page3-text46">
                <span>Имя пользователя</span>
                <br />
              </span>
            </div>
            <a href="3.html" class="page3-navlink1">
              <div class="page3-group2">
                <div class="page3-frame10">
                  <span class="page3-text49">Выйти</span>
                </div>
                <img
                    alt="Rectangle41635"
                    src="public/external/rectangle41635-3c7-200h.png"
                    class="page3-rectangle4"
                  />

                <img
                  alt="pixelarticonslogin1636"
                  src="public/external/pixelarticonslogin1636-umjq.svg"
                  class="page3-pixelarticonslogin"
                />
              </div>
            </a>
            <a href="2.html" class="page3-navlink2">
              <div class="page3-frame15">
                <img
                  alt="Rectangle2114"
                  src="public/external/rectangle2114-tiu-200h.png"
                  class="page3-rectangle2"
                />
                <span class="page3-text50">
                  <span>
                    <span>Animal_chip</span>
                    <br />
                    <span></span>
                  </span>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
